<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.demo.mapper.UserInfoMapper">
    <select id="getUserInfoByid" resultType="com.it.demo.model.UserInfo">
        select * from userinfo where openid=#{openid}
    </select>

    <insert id="insertUserInfo" parameterType="com.it.demo.model.UserInfo">
        insert into userinfo values(#{openid},#{name},#{sex},#{age},#{work},#{height},#{weight},#{phone},#{email})
    </insert>

    <update id="updateUserInfo" parameterType="com.it.demo.model.UserInfo">
        update userinfo set name=#{name},sex=#{sex},age=#{age},work=#{work},height=#{height},weight=#{weight},phone=#{phone},email=#{email} where openid=#{openid}
    </update>
</mapper>